<div id="btnContainer">
 <a href="/starterPage">  
  <button id="starterPage">Home Page</button>     
</a>
 <a href="/newsletter">  
  <button id="newsletter">Newsletter</button>     
</a>
<a href="/crowdsourced">
  <button id="crowdsourced">Crowdsourced</button>
</a>
</div>
     
{{#each flipcards}}
<div id="rw{{@index}}" class="hideit">
<div class="bg">  
<div class="flip-card">
    <div class="flip-card-inner">
      <div class="flip-card-front" style="background-image: url('https://res.cloudinary.com/dejaksfsk/image/upload/v1583347329/cardFlipTexture_etqsrd.png');" id='over'>
        <h1 style = "padding-top:100px;">{{question}}</h1>
        {{!-- <h1>Front</h1> --}}
      </div>
       <div class="flip-card-back" style="background-image: url('https://res.cloudinary.com/dejaksfsk/image/upload/v1583347329/cardFlipTexture_etqsrd.png');">
    
        <h1 style = "padding-top:50px;">{{answer}}</h1>
         {{!-- <h1>Back</h1> --}}
      </div>
    </div>
   </div>
</div>
  
  <div style=" text-align:center; margin-top:25px">     
  <button class="show-next" data-id="{{@index}}" id="{{@index}}">NEXT</button></li>      
  </div>
</div>  
</div>
{{/each}}
<div id="rw7" class="hideit">
<div class="bg">  
<div class="flip-card">
    <div class="flip-card-inner">
      <div class="flip-card-front" style="background-image: url('/assets/img/cardFlipTexture.png' );">
        <h1  class="over">COMPLETED!</h1>
        {{!-- <h1>Front</h1> --}}
      </div>
       <div class="flip-card-back" style="background-image: url('/assets/img/cardFlipTexture.png');" class="over">
    
        <h1  class="over">CONGRATS!</h1>
         {{!-- <h1>Back</h1> --}}
      </div>
    </div>
   </div>
</div>
  
  <div style=" text-align:center; margin-top:25px">     
  <button class="show-again" >Try Again</button> &nbsp;  &nbsp; <button class="show-new" >Select New Language</button>   
  </div>
</div>  
</div>
<script>
$(document).ready(function () {
  $("#rw0").show();
});
 </script>   
